body {
  background-color: #674172;
}
.reveal h1 {
  font-size: 5rem;
}
.reveal h2 {
  text-transform: capitalize;
}
.underline {
  text-decoration: underline;
}
.comparison-paragraph-left {
  float: left;
  text-align: left;
}
.comparison-paragraph-right {
  float: right;
  text-align: right;
}
